<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand" routerLink="/">Q</a>
      <button class="navbar-toggler" type="button" (click)="toggleCollapsed()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLink="/question-form">
                Questions
              </a>
          </li>    
        </ul>   
        
        <ul class="navbar-nav">
            <li ngbDropdown class="nav-item dropdown" *ngIf="user">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.firstName }} {{ user.lastName }}
                </a>
                <div ngbDropdownMenu class="dropdown-menu" *ngIf="user.isAdmin" aria-labelledby="dropdown01">
                    <a class="dropdown-item" routerLink="/admin">Admin View</a>
                </div>
            </li>
        </ul>
      </div>
  </div>
</nav>