<div class="row" *ngIf="questions">
    <ng-container *ngFor="let q of questions; let i = index">
        <div class="card" 
            [style.border]="q.difficultyType == 'Low' ? '1px solid yellow' :
                            q.difficultyType == 'Medium' ? '1px solid green' : '1px solid orange'
                        ">
            <!-- <h5 class="card-header" [innerHTML]="q.name"></h5> -->
            <div class="inline"><b>Question : </b><h5 class="card-header" [innerHTML]="q.name"></h5></div> 
                <div class="card-body">
                    <div><b>Options :</b></div>
                    <div class="inline">a) <span class="card-text" [innerHTML]="q.option1"></span></div> 
                    <div class="inline">b) <span class="card-text" [innerHTML]="q.option2"></span></div>
                    <div class="inline">c) <span class="card-text" [innerHTML]="q.option3"></span></div>
                    <div class="inline">d) <span class="card-text" [innerHTML]="q.option4"></span></div>
                    <div class="inline"><b>Answer :</b> <span class="card-text" [innerHTML]="q.answer"></span></div>
                    <a [routerLink]="['/question-form/', q.id]" class="btn btn-primary">Edit</a>
                </div>
        </div>              
    </ng-container>
</div>