<form #f="ngForm" (ngSubmit)="SaveQuestion()">
    <div *ngIf="formErrors" class="alert alert-danger">
        <p *ngIf="categoryError" >Category Type is required.</p> 
        <p *ngIf="questionError" >Question is required.</p>
        <p *ngIf="option1Error" >Option 1 is required.</p>
        <p *ngIf="option2Error" >Option 2 is required.</p>
        <p *ngIf="option3Error" >Option 3 is required.</p>
        <p *ngIf="option4Error" >Option 4 is required.</p>
        <p *ngIf="answerError" >Answer is required.</p>
        <p *ngIf="levelError" >Difficulty Level  is required.</p>
    </div>
    
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="categoryType"><b>Catgory Type</b></label>
                    <select #categoryTypeId="ngModel" [(ngModel)]="questionform.categoryTypeId" name="categoryTypeId" id="categoryType" class="form-control"
                                required>
                                  <option *ngFor="let c of categories" [value]="c.id">
                                    {{ c.name }}
                                  </option>
                    </select>
                <div class="alert alert-danger" *ngIf="categoryTypeId.touched && categoryTypeId.invalid">
                    Category Type is required.
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label><b>Account Type</b></label>
                <input type="text" class="form-control" [value]="accountName" disabled/>
            </div>
        </div>
    </div>   

    <label><b>Question</b></label>
    <div [froalaEditor]="editorSettings" [(froalaModel)]="questionform.name"></div>
    <br />
    <div class="row">
        <div class="col-6">
            <label><b>Option 1</b></label>
            <textarea [froalaEditor]="editorSettings" [(froalaModel)]="questionform.option1"></textarea>
        </div>
        <div class="col">
            <label><b>Option 2</b></label>
            <textarea [froalaEditor]="editorSettings" [(froalaModel)]="questionform.option2"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <label><b>Option 3</b></label>
            <textarea [froalaEditor]="editorSettings" [(froalaModel)]="questionform.option3"></textarea>
        </div>
        <div class="col">
            <label><b>Option 4</b></label>
            <textarea [froalaEditor]="editorSettings" [(froalaModel)]="questionform.option4"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
            <div class="col-6">
                <label><b>Answer</b></label> <br/>
                <mat-radio-group [(ngModel)]="questionform.answer" #answer="ngModel" name="answer">              
                    <mat-radio-button value="option1">Option 1</mat-radio-button>
                    <mat-radio-button value="option2">Option 2</mat-radio-button>
                    <mat-radio-button value="option3">Option 3</mat-radio-button>
                    <mat-radio-button value="option4">Option 4</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col">
                <label><b>Difficulty Level</b></label> <br/>
                <mat-radio-group [(ngModel)]="questionform.difficultyTypeId" #level="ngModel" name="level">              
                    <mat-radio-button value="1">Low</mat-radio-button>
                    <mat-radio-button value="2">Moderate</mat-radio-button>
                    <mat-radio-button value="3">High</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    <br />
    <button class="btn btn-primary">Save</button>
</form>


